html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video {  
	margin: 0;  
	padding: 0;  
	border: 0;  
	font-size: 100%;
	vertical-align: baseline; 
 }

::selection {
background: rgba(var(--secondary-color), 1);
}
::-moz-selection {
background: rgba(var(--secondary-color), 1);
}

 @media (prefers-color-scheme: light) {
	:root {
		--primary-color: 255, 255, 255;
		--secondary-color: 32, 34, 44;
		--tertiary-color: 16, 17, 20;
		--skills-desktop: 7%;
		--box-shadow: 0px 50px 100px rgba(0, 0, 0, .5);
	}
 }

 @media (prefers-color-scheme: dark) {
	:root {
		--primary-color: 32, 34, 44;
		--secondary-color: 240, 246, 250;
		--tertiary-color: 16, 17, 20;
		--skills-desktop: 7%;
		--box-shadow: 0px 50px 100px #000;
	}
 }

:root {
    --primary-color: 32, 34, 44;
	--secondary-color: 240, 246, 250;
    --tertiary-color: 16, 17, 20;
	--skills-desktop: 7%;
	--box-shadow: 0px 50px 100px #000;

	::selection {
		background: rgba(var(--secondary-color), 1);
	  }
	  ::-moz-selection {
		background: rgba(var(--secondary-color), 1);
	  }
}

body {
    background-color: rgba(var(--primary-color), 1);
    color: rgba(var(--secondary-color), 1);
    font-family: Montserrat, Helvetica, Arial, sans-serif;
}

h1, h2 {
    text-transform: uppercase;
}

h1 {
    font-size: calc(44px + (200 - 44) * ((100vw - 320px) / (1440 - 320)));
    font-weight: 900;
    margin-bottom: 15px;
    line-height: calc((44px + (200 - 44) * ((100vw - 320px) / (1440 - 320))) * .9);

    // MANUAL KERNING

    span:nth-child(1) {
        letter-spacing: calc((44px + (200 - 44) * ((100vw - 320px) / (1440 - 320))) * -.09);
    }

    span:nth-child(2) {
        letter-spacing: calc((44px + (200 - 44) * ((100vw - 320px) / (1440 - 320))) * -.05);
    }

    span:nth-child(3) {
        letter-spacing: calc((44px + (200 - 44) * ((100vw - 320px) / (1440 - 320))) * -.145);
    }
}

h2 {
    font-size: calc(15px + (30 - 15) * ((100vw - 320px) / (1440 - 320)));
    font-weight: 700;
    margin-bottom: 10px;
}

h3 {
    display: inline-block;
    padding-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 100;
    border-bottom: 1px solid rgba(var(--secondary-color), 1);
    margin-bottom: 75px;
}

a {
	color: rgba(var(--secondary-color), 1);
	text-decoration: none;
}

button {
    background: none;
    color: rgba(var(--secondary-color), 1);
    font-weight: 800;
    text-transform: uppercase;
    font-size: 15px;
    border: 3px solid rgba(var(--secondary-color), 1);
    padding: 15px 30px;
    letter-spacing: 1px;
    border-radius: 27px;
    outline: none;
    cursor: pointer;
}

header {
	width: 58px;
	height: 58px;
	margin: 60px auto 0 auto;
	border: 4px solid rgba(var(--secondary-color), 1);
	border-radius: 100%;

	svg {
		position: absolute;
		left: 50%;
		top: 76px;
		margin-left: -16px;
		fill: rgba(var(--secondary-color), 1);
	}

	div {
		width: 90vw;
		height: 58px;
		position: absolute;
		left: 5vw;
		text-align: right;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		flex-direction: row;
		

		a {
			font-size: .9375em;
			font-weight: 700;
			display: block;
			margin-left: 63px;
			position: relative;
			
			&:nth-of-type(1) {
				width: 18px;
				height: 18px;
				overflow: hidden;
				text-indent: 18px;
				mask-image: url('../img/ico-day.svg');
				background-color: rgba(var(--secondary-color), 1);
			}

			&:nth-of-type(2):before {
				height: 18px;
				width: 18px;
				content: "";
				display: block;
				mask-image: url('../img/ico-chat.svg');
				background-color: rgba(var(--secondary-color), 1);
				left: -23px;
				position: absolute;

			}
		}
	}
}

main {
    margin: auto;
}

#intro {
    text-align: center;
	height: calc(100vh - 260px);
	min-height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
	flex-flow: column;
	margin-bottom: 25px;

    p {
        font-family: Lora, 'Times New Roman', Times, serif;
        font-weight: 400;
        font-style: italic;
        font-size: calc(15px + (24 - 15) * ((100vw - 320px) / (1440 - 320)));
        margin-bottom: 25px;
    }
}

#projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 90vw;
    margin: auto;

    .container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 0px;
        width: 100%;
        padding: 75px 0;

        .project-description {
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-content: flex-start;

            p:nth-of-type(1) {
                font-family: Lora, 'Times New Roman', Times, serif;
                font-style: italic;
                font-weight: 400;
                font-size: 1.125rem;
            }

            h4 {
                font-size: 1.875rem;
                text-transform: uppercase;
                margin: 10px 0;
            }

            p {
                font-size: .9375rem;
                line-height: 1.40625rem;
            }

            a {
                text-decoration: none;
                color: rgba(var(--secondary-color), 1);
                font-size: .9375rem;
                line-height: .9375rem;
                margin-top: 30px;
                position: relative;
                padding-left: 28px;

                &::before {
                    content: "";
                    width: 22px;
                    height: 18px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    display: block;
                    position: absolute;
                    left: 0;
                }

                &:nth-of-type(1)::before {
                    background-image: url("../img/link-dribbble.png");
                }

                &:nth-of-type(2)::before {
                    background-image: url("../img/link-figma.png");
                }

                &:nth-of-type(3)::before {
                    background-image: url("../img/link-github.png");
                }

            }
        }

        .project-images {

            >div {
                margin: 0px auto;

                >div {
                    background-color: rgba(var(--secondary-color), 1);
					border-radius: 20px;
					box-shadow: var(--box-shadow);
					position: relative;

					>div {
						width: 156px;
						height: 60px;
						background-color: rgba(var(--primary-color), .9);
						position: absolute;
						bottom: -30px;
						left: calc(50% - 78px);
						border-radius: 49px;
						display: flex;
						align-items: center;
						justify-content: center;
						

						a {
							display: block;
							width: 48px;
							height: 48px;
							border-radius: 49px;
							overflow: hidden;
							text-indent: 100%;
							position: relative;

							&:before {
								content: '';
								display: block;
								width: 48px;
								height: 48px;
								mask-repeat: no-repeat;
								mask-position: center;
								background-color: rgba(var(--secondary-color), 1);
							}
							
							&:nth-of-type(1) {

								&:before {
									mask-image: url(/img/ico-desktop.svg);
								}
							}

							&:nth-of-type(2) {

								&:before {
									mask-image: url(/img/ico-tablet.svg);
								}
							}

							&:nth-of-type(3) {
								
								&:before {
									mask-image: url(/img/ico-mobile.svg);
								}
							}
						}
					}
                }
            }

            &.desktop {

                >div {
                    width: 100%;

                    >div {
						padding-top: calc(416.24 / 558 * 100%);
						
						> div {

							a:nth-of-type(1) {
								background-color: rgba(var(--secondary-color), 1);

								&:before {
									background-color: rgba(var(--primary-color), 1);
								}
							}
						}
                    }
                }
			}
			
			&.tablet {

                >div {
                    width: 55.55%;

                    >div {
						padding-top: calc(416.24 / 310 * 100%);
						
						> div {

							a:nth-of-type(2) {
								background-color: rgba(var(--secondary-color), 1);

								&:before {
									background-color: rgba(var(--primary-color), 1);
								}
							}
						}
                    }
                }
            }

            &.mobile {

                >div {
                    width: 41.39%;

                    >div {
						padding-top: calc(416.24 / 231 * 100%);
						
						> div {

							a:nth-of-type(3) {
								background-color: rgba(var(--secondary-color), 1);

								&:before {
									background-color: rgba(var(--primary-color), 1);
								}
							}
						}
                    }
                }
            }
        }

        &:nth-child(even) {

            .project-description {
                order: 2;
                grid-column: 8 / span 5;
            }

            .project-images {
                order: 1;
                grid-column: 1 / span 6;
            }

        }

        &:nth-child(odd) {

            .project-description {
                order: 1;
                grid-column: 1 / span 5;
            }

            .project-images {
                order: 2;
                grid-column: 7 / span 6;
            }

        }
    }
}

#experience {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 90vw;
	margin: auto;
	margin-top: 150px;

	#clients {
		width: 100vw;
		height: 40px;
		background-image: url('../img/clients-dark.png');
		background-size: cover;
		display: block;
	}

	.container {
		display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 0px;
        width: 100%;
		padding: 75px 0;
		
		#skillset {
			grid-column: 1 / span 7;

			h5 {
				margin-bottom: 15px;
			}

			ul {
				display: grid;
				grid-template-rows: repeat(25, 1fr);
				height: 100%;

				li {
					display: grid;
					grid-template-columns: repeat(4, 1fr);
					grid-column-gap: 30px;
					align-items: center;
					font-size: 0.9375rem;

					&[data-type="legend"] {
						span {
							grid-column: span 1;
							text-align: center;
							text-transform: uppercase;
							font-weight: 300;
							font-size: 0.6875rem;
		
							&:first-of-type {
								grid-column: 2 / span 1;
								text-align: left;
							}
		
							&:nth-of-type(3) {
								text-align: right;
							}
						}
					}

					&[data-type="heading"] {
						font-weight: 700;
					}

					span {
						grid-column: 1 / span 1;
					}

					hr {
						content:"";
						border: 0;
						display: block;
						height: 2px;
						width: 100%;
						grid-column: 2 / span 3;
						background: repeating-linear-gradient(90deg, rgba(var(--secondary-color), 1), rgba(var(--secondary-color), 1) 2px, rgba(var(--secondary-color), 0) 2px, rgba(var(--secondary-color), 0) 7%);
						position: relative;
						overflow: visible;

						&:after {
							content: "";
							height: 10px;
							width: 10px;
							border-radius: 10px;
							background-color: rgba(var(--secondary-color), 1);
							display: block;
							position: absolute;
							top: -5px;
						}

						&.s0 {

							&:after {
								left: -5px;
							}
						}

						&.s1 {
							&:after {
								left: calc(var(--skills-desktop) - 5px);
							}
						}

						&.s2 {
							&:after {
								left: calc(var(--skills-desktop) * 2 - 5px);
							}
						}

						&.s3 {
							&:after {
								left: calc(var(--skills-desktop) * 3 - 5px);
							}
						}

						&.s4 {
							&:after {
								left: calc(var(--skills-desktop) * 4 - 5px);
							}
						}

						&.s5 {
							&:after {
								left: calc(var(--skills-desktop) * 5 - 5px);
							}
						}

						&.s6 {
							&:after {
								left: calc(var(--skills-desktop) * 6 - 5px);
							}
						}

						&.s7 {
							&:after {
								left: calc(var(--skills-desktop) * 7 - 5px);
							}
						}

						&.s8 {
							&:after {
								left: calc(var(--skills-desktop) * 8 - 5px);
							}
						}

						&.s9 {
							&:after {
								left: calc(var(--skills-desktop) * 9 - 5px);
							}
						}

						&.s10 {
							&:after {
								left: calc(var(--skills-desktop) * 10 - 5px);
							}
						}

						&.s11 {
							&:after {
								left: calc(var(--skills-desktop) * 11 - 5px);
							}
						}

						&.s12 {
							&:after {
								left: calc(var(--skills-desktop) * 12 - 5px);
							}
						}

						&.s13 {
							&:after {
								left: calc(var(--skills-desktop) * 13 - 5px);
							}
						}

						&.s14 {
							&:after {
								left: calc(var(--skills-desktop) * 14 - 5px);
							}
						}
					}
				}

				// li:before {
				// 	content:"";
				// 	display: block;
				// 	height: 1px;
				// 	background-color: rgba(var(--secondary-color), 1);
				// 	grid-column: 2 / span 3;

				// }
			}
		}

		#history {
			height: 100%;
			grid-column: 9 / span 4;
			min-height: 715px;
			position: relative;

			> div {

				position: relative;
				display: grid;
				grid-template-columns: repeat(10, calc(10% - 10px));
				grid-template-rows: 1fr;
				grid-column-gap: 10px;
				grid-row-gap: 0px;
				position: absolute;
				width: 100%;

				&:before {
					content: "";
					position: absolute;
					width: 1px;
					height: calc(100% - 23px);
					left: calc(50% - .5px);
					top: 8px;
					background-color: rgba(var(--secondary-color), 1);
					grid-column: 4 / span 1;
				}

				&:after {
					content: "";
					grid-column: 4 / span 1;
					position: absolute;
					height: 10px;
					width: 10px;
					background-color: rgba(var(--primary-color), 1);
					border: 1px solid rgba(var(--secondary-color), 1);
					border-radius: 10px;
					left: 50%;
					top: 3px;
					margin-left: -5.5px;
				}

				&:nth-of-type(1) {
					top: 0;
					height: 42.86%;
				}

				&:nth-of-type(2) {
					bottom: 57.14%;
					align-items: end;

					&:after {
						top: auto;
						bottom: 3px;
					}
				}

				&:nth-of-type(3) {
					top: 42.85%;
					height: calc(28.57% - 30px);
					padding-top: 30px;

					&:before {
						height: calc(100% + 30px);
						top: -3px;
					}

					&:after {
						top: 33px;
					}
				}

				&:nth-of-type(4) {
					top: 71.41%;
					height: 28.57%;
				}

				&:nth-of-type(5) {
					align-items: end;
					bottom: 0;

					&:before {
						display: none;
					}

					&:after {
						top: auto;
						bottom: 4px;
					}
				}

				> p {
					font-family: 'Lora';
					font-size: 13px;
					font-style: italic;
					grid-column: 1 / span 3;
					text-align: right;
				}

				> div {
					grid-column: 5 / span 6;
					text-transform: uppercase;

					h5 {
						font-size: calc(14px + (18 - 14) * ((100vw - 1124px) / (2264 - 1124)));
						font-weight: 700;
					}

					p {
						font-size: 0.9375rem;
						font-weight: 300;
					}
				}
			}
		}
	}
}

footer {
	background-color: rgba(var(--tertiary-color), 1);
	padding: 60px 0 75px 0;

	div {
		margin: auto;
		max-width: 90vw;
		position: relative;

		h6 {
			font-size: 4.0625rem;
			text-transform: uppercase;
			font-weight: 800;
			margin-bottom: 30px;
		}

		ul {
			list-style: none;

			li {
				font-size: 0.9375rem;
				margin-bottom: 30px;
				align-items: center;

				&:before {
					content: "";
					display: inline-block;
					margin-right: 10px;
					height: 24px;
					width: 24px;
					vertical-align: middle;
					background-color: rgba(var(--secondary-color), 1);
				}

				&:nth-child(1) {

					&:before {
						mask-image: url(/img/logo-dribbble.svg);
					}
				}

				&:nth-child(2) {

					&:before {
						mask-image: url(/img/logo-linkedin.svg);
					}
				}

				&:nth-child(3) {

					&:before {
						mask-image: url(/img/logo-github.svg);
					}
				}

				&:nth-child(4) {
					margin-bottom: 0;

					&:before {
						mask-image: url(/img/logo-twitter.svg);
					}
				}

				a {
					font-weight: 700;

					i {
						display: inline-block;
						height: 8px;
						width: 8px;
						border: 1px solid rgba(var(--secondary-color), 1);
						position: relative;
						text-indent: 100%;
				
						&:before {
							content: "";
							position: absolute;
							top: -1px;
							right: -1px;
							width: 4px;
							height: 4px;
							transform: translatex(2px) translatey(-2px);
							border-top: 1px solid rgba(var(--secondary-color), 1);
							border-right: 1px solid rgba(var(--secondary-color), 1);
							box-shadow: 0 0 0 2px rgba(var(--primary-color), 1);
							background:rgba(var(--primary-color), 1);
							animation-duration: 2s;
							animation-iteration-count: infinite;
						}
				
						&:after {
							content: "";
							width: 1px;
							height: 9px;
							background-color: rgba(var(--secondary-color), 1);
							display: block;
							position: absolute;
							transform: translatex(2px) translatey(-2px) rotate(45deg);
							right: 2px;
							top: -2px;
							animation-duration: 2s;
							animation-iteration-count: infinite;
						}
					}
				}
			}
		}
	}

	span {
		font-size: 0.8125rem;
		position: absolute;
		right: 0;
		bottom: 0;

		&:before {
			content: '';
			width: 40px;
			height: 40px;
			mask-image: url(/img/logo-footer.svg);
			background-color: rgba(var(--secondary-color), 1);
			display: block;
			position: absolute;
			top: -50px;
			left: calc(50% - 20px);
		}
	}
}