html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

:root {
  --primary-color: #20222C;
  --secondary-color: #F0F6FA;
  --skills-desktop: 7.13%;
  --box-shadow: 0px 50px 100px #000;
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: Montserrat, Helvetica, Arial, sans-serif;
}

h1, h2 {
  text-transform: uppercase;
}

h1 {
  font-size: calc(44px + (200 - 44) * ((100vw - 320px) / (1440 - 320)));
  font-weight: 900;
  margin-bottom: 15px;
  line-height: calc((44px + (200 - 44) * ((100vw - 320px) / (1440 - 320))) * .9);
}

h1 span:nth-child(1) {
  letter-spacing: calc((44px + (200 - 44) * ((100vw - 320px) / (1440 - 320))) * -.09);
}

h1 span:nth-child(2) {
  letter-spacing: calc((44px + (200 - 44) * ((100vw - 320px) / (1440 - 320))) * -.05);
}

h1 span:nth-child(3) {
  letter-spacing: calc((44px + (200 - 44) * ((100vw - 320px) / (1440 - 320))) * -.145);
}

h2 {
  font-size: calc(15px + (30 - 15) * ((100vw - 320px) / (1440 - 320)));
  font-weight: 700;
  margin-bottom: 10px;
}

h3 {
  display: inline-block;
  padding-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 100;
  border-bottom: 1px solid var(--secondary-color);
  margin-bottom: 75px;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

button {
  background: none;
  color: var(--secondary-color);
  font-weight: 800;
  text-transform: uppercase;
  font-size: 15px;
  border: 3px solid var(--secondary-color);
  padding: 15px 30px;
  letter-spacing: 1px;
  border-radius: 27px;
  outline: none;
  cursor: pointer;
}

header {
  width: 58px;
  height: 58px;
  margin: 60px auto 0 auto;
  border: 4px solid var(--secondary-color);
  border-radius: 100%;
}

header svg {
  position: absolute;
  left: 50%;
  top: 76px;
  margin-left: -16px;
}

header div {
  width: 90vw;
  height: 58px;
  position: absolute;
  left: 5vw;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header div a {
  font-size: .9375em;
  font-weight: 700;
  display: block;
  margin-left: 63px;
  position: relative;
}

header div a:nth-of-type(1) {
  width: 18px;
  height: 18px;
  overflow: hidden;
  text-indent: 18px;
  background-image: url("../img/ico-day.svg");
}

header div a:nth-of-type(2):before {
  height: 18px;
  width: 18px;
  content: "";
  display: block;
  background-image: url("../img/ico-chat.svg");
  left: -23px;
  position: absolute;
}

main {
  margin: auto;
}

#intro {
  text-align: center;
  height: calc(100vh - 260px);
  min-height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin-bottom: 25px;
}

#intro p {
  font-family: Lora, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-style: italic;
  font-size: calc(15px + (24 - 15) * ((100vw - 320px) / (1440 - 320)));
  margin-bottom: 25px;
}

#projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 90vw;
  margin: auto;
}

#projects .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 0px;
  width: 100%;
  padding: 75px 0;
}

#projects .container .project-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

#projects .container .project-description p:nth-of-type(1) {
  font-family: Lora, 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: 400;
  font-size: 1.125rem;
}

#projects .container .project-description h4 {
  font-size: 1.875rem;
  text-transform: uppercase;
  margin: 10px 0;
}

#projects .container .project-description p {
  font-size: .9375rem;
  line-height: 1.40625rem;
}

#projects .container .project-description a {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: .9375rem;
  line-height: .9375rem;
  margin-top: 30px;
  position: relative;
  padding-left: 28px;
}

#projects .container .project-description a::before {
  content: "";
  width: 22px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: block;
  position: absolute;
  left: 0;
}

#projects .container .project-description a:nth-of-type(1)::before {
  background-image: url("../img/link-dribbble.png");
}

#projects .container .project-description a:nth-of-type(2)::before {
  background-image: url("../img/link-figma.png");
}

#projects .container .project-description a:nth-of-type(3)::before {
  background-image: url("../img/link-github.png");
}

#projects .container .project-images > div {
  margin: 0px auto;
}

#projects .container .project-images > div > div {
  background-color: var(--secondary-color);
  border-radius: 20px;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

#projects .container .project-images.desktop > div {
  width: 100%;
}

#projects .container .project-images.desktop > div > div {
  padding-top: calc(416.24 / 558 * 100%);
}

#projects .container .project-images.mobile > div {
  width: 41.39%;
}

#projects .container .project-images.mobile > div > div {
  padding-top: calc(416.24 / 231 * 100%);
}

#projects .container .project-images.tablet > div {
  width: 55.55%;
}

#projects .container .project-images.tablet > div > div {
  padding-top: calc(416.24 / 310 * 100%);
}

#projects .container:nth-child(even) .project-description {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -ms-grid-column: 8;
  -ms-grid-column-span: 5;
  grid-column: 8 / span 5;
}

#projects .container:nth-child(even) .project-images {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / span 6;
}

#projects .container:nth-child(odd) .project-description {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1 / span 5;
}

#projects .container:nth-child(odd) .project-images {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -ms-grid-column: 7;
  -ms-grid-column-span: 6;
  grid-column: 7 / span 6;
}

#experience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 90vw;
  margin: auto;
  margin-top: 150px;
}

#experience #clients {
  width: 100vw;
  height: 40px;
  background-image: url("../img/clients-dark.png");
  background-size: cover;
  display: block;
}

#experience .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 0px;
  width: 100%;
  padding: 75px 0;
}

#experience .container #skillset {
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1 / span 7;
}

#experience .container #skillset h5 {
  margin-bottom: 15px;
}

#experience .container #skillset ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[25];
      grid-template-rows: repeat(25, 1fr);
  height: 100%;
}

#experience .container #skillset ul li {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9375rem;
}

#experience .container #skillset ul li[data-type="legend"] span {
  grid-column: span 1;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.6875rem;
}

#experience .container #skillset ul li[data-type="legend"] span:first-of-type {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  text-align: left;
}

#experience .container #skillset ul li[data-type="legend"] span:nth-of-type(3) {
  text-align: right;
}

#experience .container #skillset ul li[data-type="heading"] {
  font-weight: 700;
}

#experience .container #skillset ul li span {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
}

#experience .container #skillset ul li hr {
  content: "";
  border: 0;
  display: block;
  height: 1px;
  width: 100%;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / span 3;
  background: repeating-linear-gradient(90deg, #fff, #fff 1px, rgba(255, 255, 255, 0) 1px, rgba(255, 255, 255, 0) 7.13%);
  position: relative;
  overflow: visible;
}

#experience .container #skillset ul li hr:after {
  content: "";
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background-color: white;
  display: block;
  position: absolute;
  top: -5px;
}

#experience .container #skillset ul li hr.s0:after {
  left: -5px;
}

#experience .container #skillset ul li hr.s1:after {
  left: calc(var(--skills-desktop) - 5px);
}

#experience .container #skillset ul li hr.s2:after {
  left: calc(var(--skills-desktop) * 2 - 5px);
}

#experience .container #skillset ul li hr.s3:after {
  left: calc(var(--skills-desktop) * 3 - 5px);
}

#experience .container #skillset ul li hr.s4:after {
  left: calc(var(--skills-desktop) * 4 - 5px);
}

#experience .container #skillset ul li hr.s5:after {
  left: calc(var(--skills-desktop) * 5 - 5px);
}

#experience .container #skillset ul li hr.s6:after {
  left: calc(var(--skills-desktop) * 6 - 5px);
}

#experience .container #skillset ul li hr.s7:after {
  left: calc(var(--skills-desktop) * 7 - 5px);
}

#experience .container #skillset ul li hr.s8:after {
  left: calc(var(--skills-desktop) * 8 - 5px);
}

#experience .container #skillset ul li hr.s9:after {
  left: calc(var(--skills-desktop) * 9 - 5px);
}

#experience .container #skillset ul li hr.s10:after {
  left: calc(var(--skills-desktop) * 10 - 5px);
}

#experience .container #skillset ul li hr.s11:after {
  left: calc(var(--skills-desktop) * 11 - 5px);
}

#experience .container #skillset ul li hr.s12:after {
  left: calc(var(--skills-desktop) * 12 - 5px);
}

#experience .container #skillset ul li hr.s13:after {
  left: calc(var(--skills-desktop) * 13 - 5px);
}

#experience .container #skillset ul li hr.s14:after {
  left: calc(var(--skills-desktop) * 14 - 5px);
}

#experience .container #history {
  height: 100%;
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-column: 9 / span 4;
  min-height: 715px;
  position: relative;
}

#experience .container #history > div {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (calc(10% - 10px))[10];
      grid-template-columns: repeat(10, calc(10% - 10px));
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  position: absolute;
  width: 100%;
}

#experience .container #history > div:before {
  content: "";
  position: absolute;
  width: 1px;
  height: calc(100% - 23px);
  left: calc(50% - .5px);
  top: 8px;
  background-color: var(--secondary-color);
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / span 1;
}

#experience .container #history > div:after {
  content: "";
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / span 1;
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  left: 50%;
  top: 3px;
  margin-left: -5.5px;
}

#experience .container #history > div:nth-of-type(1) {
  top: 0;
  height: 42.86%;
}

#experience .container #history > div:nth-of-type(2) {
  bottom: 57.14%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

#experience .container #history > div:nth-of-type(2):after {
  top: auto;
  bottom: 3px;
}

#experience .container #history > div:nth-of-type(3) {
  top: 42.85%;
  height: calc(28.57% - 30px);
  padding-top: 30px;
}

#experience .container #history > div:nth-of-type(3):before {
  height: calc(100% + 30px);
  top: -3px;
}

#experience .container #history > div:nth-of-type(3):after {
  top: 33px;
}

#experience .container #history > div:nth-of-type(4) {
  top: 71.41%;
  height: 28.57%;
}

#experience .container #history > div:nth-of-type(5) {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  bottom: 0;
}

#experience .container #history > div:nth-of-type(5):before {
  display: none;
}

#experience .container #history > div:nth-of-type(5):after {
  top: auto;
  bottom: 4px;
}

#experience .container #history > div > p {
  font-family: 'Lora';
  font-size: 13px;
  font-style: italic;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  text-align: right;
}

#experience .container #history > div > div {
  -ms-grid-column: 5;
  -ms-grid-column-span: 6;
  grid-column: 5 / span 6;
  text-transform: uppercase;
}

#experience .container #history > div > div h5 {
  font-size: calc(14px + (18 - 14) * ((100vw - 1124px) / (2264 - 1124)));
  font-weight: 700;
}

#experience .container #history > div > div p {
  font-size: 0.9375rem;
  font-weight: 300;
}
/*# sourceMappingURL=adamfox.css.map */